<!DOCTYPE html>
<html lang="en">
<style>
    * {
        padding: 0;
        border: 0;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        height: 200px;

        /* align-items: ; */
        /* align-content: center; */
    }

    .flex-container div {
        padding: 10px;
        background-color: lightblue;
        border: 1px solid blue;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="flex-container">
        <div>Item 1</div>
        <div>Item 2</div>
        <div>Item 3</div>
        <div>Item 4</div>
        <div>Item 5</div>
        <div>Item 6</div>
        <div>Item 7</div>
        <div>Item 8</div>
        <div>Item 9</div>
        <div>Item 10</div>
    </div>
</body>

</html>